.main-menu {
  z-index: 20;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  &__close-btn {
    background: none;
    border: none;
    margin: 20px;
  }
  &__bg {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 300px;
    width: 100%;
    height: 100%;
    background-color: rgba(#0e2a47, 0.9);
  }
  .main-nav__link {
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    background: none;
    color: #161920;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
    &:hover,
    &:focus {
      background: none;
    }
  }
}
