.newsletter-section {
  background-color: #E7F4F8;
  padding: 100px 0 85px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.newsletter-form {
  width: 100%;
  margin-left: 30px;
  &__input {
    height: 55px;
    width: calc(100% - 195px);
    border: none;
    padding: 0 25px;
    font-size: 1.35rem;
    letter-spacing: 0.01em;
    color: #a0a9b6;
  }
  &__submit {
    width: 195px;
    font-weight: 700;
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 1250px) {
  .newsletter-section {
    padding: 100px 20px 85px;
  }
}
@media screen and (max-width: 950px) {
  .newsletter-section-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .newsletter-form {
    display: contents;
    &__input {
      width: 80%;
    }
  }
}
