.header-wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 25px;
}
.main-nav-opener {
  background: none;
  border: none;
  margin-left: 20px;
}

@media screen and (max-width: 950px) {
  .header-wrapper {
    padding-bottom: 20px;
  }
}
