.home-slider {
  position: relative;
  height: 570px;
  &-item {
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    // Media queries for obtaining the image with the lowest possible resolution
    @for $i from 1 through 4 {
      &--#{$i} {
        @media screen and (max-width: 1200px) {
          background-image: url('./img/home-slider-#{$i}_1280x720.jpg');
        }
        @media screen and (min-width: 1201px) and (max-width: 1600px) {
          background-image: url('./img/home-slider-#{$i}_1600x900.jpg');
        }
        @media screen and (min-width: 1601px) {
          background-image: url('./img/home-slider-#{$i}_2048x1152.jpg');
        }
      }
    }
  }
  // Text on the slider items
  &-content {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 140px;
    text-transform: uppercase;
    color: white;
    &__title {
      font-size: 4rem;
      font-weight: 800;
      letter-spacing: 0.025em;
    }
    &__subtitle {
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 0.095em;
    }
  }
  // Slider navigation arrows
  .slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc((100% - 1200px) / 2);
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    &__item {
      background: none;
      border: 2px solid rgba(#fff, 0.5);
      border-radius: 50%;
      padding: 21px 20.5px 18.5px;
      transition: border-color 0.2s ease;
      &:hover {
        border-color: #fff;
      }
    }
  }
  // Slider navigation dots
  .slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    &__item {
      border-color: #ff8261;
      &:hover,
      &:focus {
        background-color: #ff8261;
      }
      &--active {
        border-color: #5278db;
        &:hover,
        &:focus {
          background-color: #5278db;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-slider .slider-arrows {
    left: 0;
  }
}
