.main-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &__link {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    &--active {
      background-color: #52cbf8;
    }
  }
}

@media screen and (max-width: 1150px) {
  .main-nav .main-nav__link {
    width: 20%;
  }
}
